{% extends 'base.html.twig' %}

{% block title %}
    {{ 'trading.profitability.title'|trans }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>
                {{ 'trading.profitability.title'|trans }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% form_theme form 'form/bootstrap_4_layout.html.twig' %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if totalProfit %}
                <p class="text-info">
                    {{ 'trading.profitability.total_earnings.l1'|trans(
                        {'{{period}}': dto.numberOfDays, '{{numberOfBets}}': dto.numberOfBetsPerDay, '{{totalIncome}}': totalIncome, '{{betSize}}': betSize}
                    ) }}
                    {{ 'trading.profitability.total_earnings.l2'|trans(
                        {'{{deposit}}': dto.depositAmount, '{{totalProfit}}': totalProfit}
                    ) }}
                </p>
            {% endif %}
        </div>
    </div>
{% endblock %}