<div class="card">
    {% if item.image %}
        {% set modalId = "modal" ~ item.id %}
        <img src="{{ asset(item.image) | imagine_filter('result_image_thumbnail_widen') }}" class="card-img-top" data-toggle="modal" data-target="#{{ modalId }}" />
        <div class="modal fade" id="{{ modalId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{ 'close'|trans }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <img src="{{ asset(item.image) | imagine_filter('result_image_widen') }}" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="card-header">
        <div class="row">
            <div class="col-md-4 text-left">
                {{ item.date|date('d.m.Y') }}
            </div>
            <div class="col-md-4 offset-md-4">
                <span class="text-right text-muted">
                    {{ item.createdAt|date('d.m.Y') }}
                </span>
                <a href="{{ path('result_delete', {'result': item.id}) }}" class="close js-remove-link" aria-label="Close">
                    &times;
                </a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">
            {% if item.openingQuote %}
                {{ 'trading.result.opening_quote'|trans }}: {{ item.openingQuote }}<br/>
            {% endif %}
            {% if item.closingQuote %}
                {{ 'trading.result.closing_quote'|trans }}: {{ item.closingQuote }}<br/>
            {% endif %}
            {{ 'trading.result.profit'|trans }}: {{ item.profit }}<br/>
            {{ 'trading.result.spent'|trans }}: {{ item.spent }}<br/>
            {{ 'trading.result.notes'|trans }}: {{ item.notes }}<br/>
        </p>
    </div>
    <div class="card-footer text-muted">
        {% for tag in item.tags %}
            <a href="{{ path('results_search_by_tag', {'value': tag.value}) }}">
                #{{ tag.value }}
            </a>
        {% endfor %}
    </div>
</div>
