<div class="fos_user_user_show">
    {% if user.photo %}
        <img src="{{ asset(user.photo) | imagine_filter('user_photo_widen') }}" class="card-img-top" />
    {% endif %}
    <div class="form-group">
        <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
        <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
    </div>
    <div class="form-group">
        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary">
            {{ 'edit'|trans}}
        </a>
    </div>
</div>
