{% extends 'base.html.twig' %}

{% block title %}
    {{ 'trading.user.results.title'|trans({'{{user}}': user}) }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>{{ 'trading.user.results.title'|trans({'{{user}}': user}) }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% form_theme form 'form/bootstrap_4_layout.html.twig' %}
            {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
            <div class="input-group" id="datepicker">
                <div class="input-group-prepend">
                    {{ form_widget(form.dateFrom) }}
                    <span class="input-group-text">{{ 'range.to'|trans }}</span>
                </div>
                {{ form_widget(form.dateTo) }}
            </div>
            <button type="submit" class="btn-success btn">{{ 'search'|trans }}</button>
            <a href="#" id="for-a-month" class="btn-secondary btn ml-5">{{ 'range.month'|trans }}</a>
            <a href="#" id="for-six-months" class="btn-secondary btn ml-1">{{ 'range.half_a_year'|trans }}</a>
            <a href="#" id="for-a-year" class="btn-secondary btn ml-1">{{ 'range.year'|trans }}</a>
            <a href="#" id="reset" class="btn-primary btn ml-1">{{ 'reset'|trans }}</a>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row form-group">
        {% if pagination is empty %}
            <div class="col-12">
                <p class="text-center">
                    {{ 'no_data'|trans }}
                </p>
            </div>
        {% endif %}
        {% for item in pagination %}
            {% if loop.index0 is divisible by(3) %}
                <div class="w-100"></div>
                <br/>
            {% endif %}
            <div class="col-3">
                {% include 'trading/result/partial/card.html.twig' %}
            </div>
        {% endfor %}
    </div>
    {% if pagination is not empty %}
        <div class="row">
            <div class="col-12">
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block customjavascript %}
    <script type="text/javascript">
        var locale = '{{ app.request.locale }}'
    </script>
    <script type="text/javascript" src="{{ asset('js/daterange_handler.js') }}" ></script>
{% endblock %}