{% extends 'base.html.twig' %}

{% block title %}
    {{ 'trading.result.title'|trans }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>
                {{ 'trading.result.title'|trans }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% form_theme form 'form/bootstrap_4_layout.html.twig' %}
            {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
            {{ form_row(form.dateFrom) }}
            {{ form_row(form.dateTo) }}
            <div class="form-group">
                <button type="submit" class="btn-secondary btn">{{ 'filter'|trans }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row">
        {% if pagination is empty %}
            <div class="col-12">
                <p class="text-center">
                    {{ 'no_data'|trans }}
                </p>
            </div>
        {% endif %}
        {% for item in pagination %}
            {% if loop.index0 is divisible by(3) %}
                <div class="w-100"></div>
                <br/>
            {% endif %}
            <div class="col-4">
                <div class="card">
                    {% if item.image %}
                        <img src="{{ asset(item.image) | imagine_filter('result_image_thumbnail_widen') }}" class="card-img-top" />
                    {% endif %}
                    <div class="card-header">
                        {{ item.date|date('d.m.Y') }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ 'trading.result.opening_quote'|trans }}: {{ item.openingQuote }}<br/>
                            {{ 'trading.result.closing_quote'|trans }}: {{ item.closingQuote }}<br/>
                            {{ 'trading.result.profit'|trans }}: {{ item.profit }}<br/>
                            {{ 'trading.result.spent'|trans }}: {{ item.spent }}<br/>
                            {{ 'trading.result.notes'|trans }}: {{ item.notes }}<br/>
                        </p>
                    </div>
                    {% if item.image %}
                        {% set modalId = "modal" ~ item.id %}
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ modalId }}">
                                {{ 'trading.result.view_image'|trans }}
                            </button>
                            <div class="modal fade" id="{{ modalId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">{{ 'close'|trans }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <img src="{{ asset(item.image) | imagine_filter('result_image_widen') }}" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    {% if pagination is not empty %}
        <div class="row">
            <div class="col-12">
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}