{% extends 'base.html.twig' %}

{% block title %}
    {{ 'trading.results.title'|trans }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>
                {{ 'trading.results.title'|trans }}
            </h1>
        </div>
    </div>
    <div class="row">
        {% for item in data %}
            {% if loop.index0 is divisible by(2) %}
                <div class="w-100"></div>
                <br/>
            {% endif %}
            <div class="col-4">
                <div class="card">
                    {% if item.image %}
                        <img src="{{ asset(item.image) | imagine_filter('result_image_thumbnail_widen') }}" class="card-img-top" />
                    {% endif %}
                    <div class="card-header">
                        {{ item.date|date('d.m.Y') }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ 'trading.results.opening_quote'|trans }}: {{ item.openingQuote }}<br/>
                            {{ 'trading.results.closing_quote'|trans }}: {{ item.closingQuote }}<br/>
                            {{ 'trading.results.profit'|trans }}: {{ item.profit }}<br/>
                            {{ 'trading.results.spent'|trans }}: {{ item.spent }}<br/>
                            {{ 'trading.results.notes'|trans }}: {{ item.notes }}<br/>
                        </p>
                    </div>
                    {% if item.image %}
                        {% set modalId = "modal" ~ item.id %}
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ modalId }}">
                                {{ 'trading.results.view_image'|trans }}
                            </button>
                            <div class="modal fade" id="{{ modalId }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">{{ 'close'|trans }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <img src="{{ asset(item.image) | imagine_filter('result_image_widen') }}" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}