{% extends 'base.html.twig' %}

{% block title %}
    {{ 'trading.user.results.title'|trans({'{{user}}': user}) }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>
                {{ 'trading.user.results.title'|trans({'{{user}}': user}) }}
            </h1>
        </div>
    </div>
    <div class="row">
        {% for item in data %}
            {% if loop.index0 is divisible by(2) %}
                <div class="w-100"></div>
                <br/>
            {% endif %}
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <span class="float-left">
                            {{ item.date|date('d.m.Y') }}
                        </span>
                        <span class="float-right text-muted">
                            {{ 'created'|trans }} {{ item.createdAt|date('d.m.Y') }}
                        </span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ 'trading.results.opening_quote'|trans }}: {{ item.openingQuote }}<br/>
                            {{ 'trading.results.closing_quote'|trans }}: {{ item.closingQuote }}<br/>
                            {{ 'trading.results.profit'|trans }}: {{ item.profit }}<br/>
                            {{ 'trading.results.spent'|trans }}: {{ item.spent }}<br/>
                            {{ 'trading.results.notes'|trans }}: {{ item.notes }}<br/>
                        </p>
                    </div>
                    <div class="card-footer text-muted">
                        <a href="#">{{ 'trading.results.view_image'|trans }}</a><br/>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}