{% extends 'base.html.twig' %}

{% block title %}
    {{ 'users.title'|trans }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>
                {{ 'users.title'|trans }}
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if pagination is empty %}
                <p class="text-center">
                    {{ 'no_data'|trans }}
                </p>
            {% else %}
                <div class="form-group">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>{{ 'user.profile.photo'|trans }}</th>
                            <th>{{ 'trading.user.results.title'|trans({'{{user}}': ''}) }}</th>
                            <th>{{ 'trading.profitability.user.title'|trans }}</th>
                            <th>{{ 'user.registered_at'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in pagination %}
                            <tr>
                                <th scope="row">{{ item.id }}</th>
                                <td>{{ item }}</td>
                                <td>{{ item.email }}</td>
                                <td>
                                    {% if item.photo %}
                                        <img src="{{ asset(item.photo) | imagine_filter('user_photo_thumbnail_widen') }}" class="card-img-top" />
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('results_search_by_user', {'user': item.id}) }}" title="{{ item }}">
                                        {{ item }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ path('user_trading_profitability', {'user': item.id}) }}" title="{{ item }}">
                                        {{ item }}
                                    </a>
                                </td>
                                <td>{{ item.createdAt|date('Y-m-d') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}